
@model List<Student>

<html>
    <head>

    </head>


    <body>


    

        <a asp-controller="Home" asp-action="Create">Add New Student</a>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>Student Last Name</th>
                    <th>Student Age</th>
                    <th>Student Grade</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.StudentId</td>
                        <td>@item.StudentName</td>
                        <td>@item.StudentLastName</td>
                        <td>@item.StudentGrade</td>
                        <td>
                            <a asp-action="Remove" asp-controller="Home" asp-route-id="@item.StudentId" class="btn btn-danger">Remove </a>
                            <a asp-action="Update" asp-controller="Home" asp-route-id="@item.StudentId" class="btn btn-warning">Update </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a asp-controller="Folder" asp-action="List" class="btn btn-warning"> Go to the Folder List</a>
        <a asp-controller="File" asp-action="List" class="btn btn-warning"> Go to the File list in HMD</a>
    </body>
</html>