@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Customer>
@using middleware_edit.Models

<!DOCTYPE html>
<html>
<head>
    <title>Customer List</title>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <h3>Customer List</h3>
        <a asp-controller="Home" asp-action="Create" >Ekle</a>
        <table class="table table-hover table-bordered">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Age</td>
                    <td>
                        <a asp-action="Update" asp-controller="Home" asp-route-id="@item.Id">Update</a>
                        <a asp-action="Remove" asp-controller="Home" asp-route-id="@item.Id">Delete</a> @* it gives id to home controller and link between them *@
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
